body {
  padding-top: 50px;
  padding-bottom: 100px;
}

.main-container {
  max-width: 1600px;
}

#map {
  width: 100%;
  height: 500px;
  margin-left:auto;
  margin-right:auto;
}

svg {
  font: 10px sans-serif;
  shape-rendering: auto;
}

.col-lg-9 {
  text-align:center;
}

#map path {
  transition: all .3s ease;
  transition-property: stroke-opacity, fill-opacity;
}

#map path:hover {
  stroke-opacity: 1;
  fill-opacity: .8;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hoverBar {

}

.heartrate {
  stroke-width: 2;
  stroke: red;
  fill: none;
  clip-path: url(#clip);
}

.steps {
  fill: steelblue;
  stroke: none;
  opacity: 1;
  clip-path: url(#clip);
}

.floors {
  fill: forestgreen;
  stroke: none;
  opacity: 1;
  clip-path: url(#clip);
}

.location {
  opacity: 0.5;
  cursor: pointer;
}

.location:hover {
  transition: all .4s ease;
  transition-property: opacity;
  opacity: 1.0;
}

.timeregion {
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .5;
  shape-rendering: crispEdges;
}

h5 {
  display: inline;
}

#legend {

}

.legendentry {
  
}

.move {
  fill: transparent;
  stroke: red;
  stroke-width: 1.5px;
}

.place {
  fill: #4682B4;
  fill-opactiy: .6;
  stroke: #4682B4;
  stroke-width: 1.5px;
}

.y.axis .tick text {
  fill: red;
}