body {
  padding-top: 50px;
  padding-bottom: 100px;
}

#map {
  width: 960px;
  height: 500px;
}

svg {
  font: 10px sans-serif;
  position: relative;
}

#map path {
  transition-property: stroke-opacity;
  transition-duration: 0.3s;
}

.heartrate {
  stroke: red;
  fill: none;
  clip-path: url(#clip);
}

.steps {
  fill: steelblue;
  stroke: none;
  clip-path: url(#clip);
}

.floors {
  fill: forestgreen;
  stroke: none;
  clip-path: url(#clip);
}

.location {
  opacity:0.5;
}

.location:hover {
  opacity:1.0;
}

.timeregion {
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.move {
  fill: transparent;
  stroke: red;
  stroke-width: 1.5px;
}

.place {
  fill: #4682B4;
  fill-opactiy: .6;
  stroke: #4682B4;
  stroke-width: 1.5px;
}